
.content-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 3px solid #ff9966;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(255, 153, 102, 0.2);
  max-height: 550px;
}

.content-image {
  width: 93%;
}

.content-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  padding-bottom: 20px;
}

.content-text {
  width: 60%;
  padding-left: 30px;
  padding-bottom: 200px;
}

.btn-read-more {
  display: block;
  text-align: center;
  margin-top: 15px;
  padding: 10px 15px;
  background-color: #ff9966;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
}

.btn-read-more:hover {
  background-color: #ff7b42;
}

.other-activities {
  margin-top: 50px;
  padding: 20px;
  border: 2px solid #ff9966;
  border-radius: 10px;
  background-color: #fff3e6;
}

.other-activities h2 {
  color: #ff9966;
  text-align: center;
  margin-bottom: 20px;
}

.card {
  border: none;
  box-shadow: none;
}

.card-columns {
  display: flex;
  gap: 20px;
  justify-content: center;
}


.navbar {
  background-color: #ff9f68;
}
.navbar-brand {
  color: white;
  font-weight: bold;
}
.navbar-nav {
  display: flex;
  justify-content: center;
  gap: 25px;
  width: 100%;
}

.navbar-nav .nav-link {
	color: white;
	font-size: 17px;
}
.navbar-collapse {
  justify-content: center;
}